 <link rel="stylesheet" href="~/css/employee.css"/>
  <main class="main">
    <div class="topbar">
      <input type="text" placeholder="Search" style="padding: 8px 12px; width: 300px; border: 1px solid #ccc; border-radius: 5px;">
      <div><img src="images/man-user-circle-icon copy.svg" alt="User" style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;"></div>
    </div>
    <div class="title">Employee</div>
    <div class="breadcrumb">Manage / Employee</div>
    <div class="employee-header">
      <h3></h3>
      <a href="AddEmployee.html" style="text-decoration: none;"><button>Add Employee</button></a>
    </div>
    <div class="table-box">
      <h3 style="margin-bottom: 15px; text-align: left;">Current Employees</h3>
      <div class="search-box"><input type="text" placeholder="Search..."></div>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Employee name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>OSAMA ADEL</td>
            <td>+90 555 555 55 55</td>
            <td>Email@gmail.com</td>
            <td>username</td>
            <td>!!$#Sd$df</td>
            <td class="actions">
              <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
              <img src="images/trash.png" alt="Delete" width="18" class="delete-icon" onclick="confirmDelete(this)">
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>ABDULLAH ALSHALFI</td>
            <td>+90 555 555 55 55</td>
            <td>Email@gmail.com</td>
            <td>username</td>
            <td>!!$#Sd$df</td>
            <td class="actions">
              <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
              <img src="images/trash.png" alt="Delete" width="18" class="delete-icon" onclick="confirmDelete(this)">
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>EMIR ODABAŞ</td>
            <td>+90 555 555 55 55</td>
            <td>Email@gmail.com</td>
            <td>username</td>
            <td>!$#Sd$df</td>
            <td class="actions">
              <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
              <img src="images/trash.png" alt="Delete" width="18" class="delete-icon" onclick="confirmDelete(this)">
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>AZİZ</td>
            <td>+90 555 555 55 55</td>
            <td>Email@gmail.com</td>
            <td>username</td>
            <td>!!$#Sd$df</td>
            <td class="actions">
              <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
              <img src="images/trash.png" alt="Delete" width="18" class="delete-icon" onclick="confirmDelete(this)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
 