@model (List<ReadVM<DepartmentVM>>, List<string>)

<link rel="stylesheet" href="~/css/department.css" />
<main class="main">
    <div class="topbar">
        <input type="text" placeholder="Search" style="padding: 8px 12px; border-radius: 5px; border: 1px solid #ccc; width: 300px;">
        <div><img src="images/man-user-circle-icon copy.svg" alt="User" style="width: 50px; height: 50px; border-radius: 50%;"></div>
    </div>
    <div class="title">Department</div>
    <div class="breadcrumb">Manage / <strong>Department</strong></div>
    <a href="~/Department/Create"><button class="add-button">Add Department</button></a>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Location</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for(int i = 0; i < Model.Item1.Count; i++)
                    {
                        <tr>
                            <td>@Model.Item1[i].data.name</td>
                            <td>@Model.Item2[i]</td>
                            <td class="actions">
                            <a asp-action="Update" asp-controller="Department" asp-route-id="@Model.Item1[i].id">
                                <img src="images/edit-05-svgrepo-com.svg" alt="Edit" width="18" onclick="toggleEdit(this)">
                            </a>
                                <a href="#" onclick="confirmDelete(@Model.Item1[i].id)">
                                <img src="images/trash.png" alt="Delete" width="18" class="delete-icon">
                                </a>
                            </td>
                        </tr>
                    }
                }
                    </tr>
                </tbody>
            </table>
        </div>
    <script>
                       function confirmDelete(id) {
            if (confirm("Are you sure to delete this Department?")) {
                fetch(`/Department/Delete/${id}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {

                        window.location.reload();
                    } else {
                        alert("Delete failed.");
                    }
                })
                .catch(error => {
                    alert("Error: " + error);
                });
            }
        }
    </script>
    </main>
   
