
<link rel="stylesheet" href="~/css/attendance.css"/>
    <main class="main">
        <div class="topbar">
            <input type="text" placeholder="Search" style="padding: 8px 12px; width: 300px; border: 1px solid #ccc; border-radius: 5px;">
            <div>
                <img src="images/man-user-circle-icon copy.svg" alt="User" style="width: 50px; height: 50px; border-radius: 50%; vertical-align: middle;">
            </div>
        </div>

        <div class="title">Attendance</div>

        <div class="form-box">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="2025-05-15">
            <button>Generate Sheet</button>
        </div>

        <div class="table-box">
            <h4>Subject Report</h4>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Total Absence Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>OSAMA ADEL</td><td>First</td><td>10</td><td>2</td></tr>
                    <tr><td>2</td><td>ABDULLAH ALSHALFI</td><td>Second</td><td>2</td><td>10</td></tr>
                    <tr><td>3</td><td>EMIR ODABAŞ</td><td>Third</td><td>9</td><td>1</td></tr>
                    <tr><td>4</td><td>AZİZ</td><td>Fourth</td><td>8</td><td>3</td></tr>
                </tbody>
            </table>
        </div>
    </main>
